
<%= simple_form_for([:admin, representative]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :party, collection: Representative::PARTIES_MAPPING %>
  <%= f.input :job_type, collection: Representative::JOB_TYPE_MAPPING %>
  <%= f.input :job_title %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
