<p id="notice"><%= notice %></p>

<h1>民代列表</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @representatives.each do |representative| %>
      <tr>
        <td><%= link_to 'Show', [:admin, representative] %></td>
        <td><%= link_to 'Edit', edit_admin_representative_path(representative) %></td>
        <td><%= link_to 'Destroy', [:admin, representative], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Representative', new_admin_representative_path %>
