<p id="notice"><%= notice %></p>

<h3>民意代表：<%= @representative.name %></h3>
<ul>
  <li>黨籍：<%= @representative.party %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>親屬姓名</th>
      <th>關係</th>
      <th>團體名稱</th>
      <th>補助金額 / 補助日期</th>
    </tr>
  </thead>
  <% @representative.relatives.includes(:organization, :expenditures).each do |relative| %>
  <tr>
    <td><%= relative.name %></td>
    <td><%= relative.kinship_name %></td>
    <td><%= relative.organization&.name %></td>
    <td>
    <% unless relative.expenditures.blank? %>
      <ul>
        <% relative.organization.expenditures.each do |expenditure| %>
          <li><%= number_to_currency(expenditure.amount, precision: 0) %> / <%= expenditure.approved_date.strftime('%F') %></li>
        <% end %>
      </ul>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_admin_representative_path(@representative) %> |
<%= link_to 'Back', admin_representatives_path %>
