<div class="pages-index">
  <div class="jumbotron">
    <h1 class="display-4">台電睦鄰金流大解析</h1>
    <p class="lead">建立網站公開台電年年編列數十億的「促進電力開發協助金」的補助金流向，追查公家經費是否落入與立委利害關係人(包含法定的立委本人、配偶、親屬、助理)相關的特定協會，藉此揭露未利益迴避的問題。</p>
    <p class="data-updated-at">
      資料更新於：<%= Relative.maximum(:updated_at)&.strftime('%F %r %Z')&.in_time_zone %><br>
      <%= link_to '資料錯誤？請聯絡我們', 'https://hackmd.io/I0ALPovCT3aHRCDanWfR_g', class: 'float-right', target: '_blank' %>
    </p>
  </div>
  

  <% @representatives.each do |representative| %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= representative.name %><br>
            <small>黨籍：
              <%= Representative.human_attribute_name("parties.#{representative.party}") %>
            </small>
            <br>
            <small>職稱：
              <%= representative.job_title %>
            </small>
          </h5>
          <table class="table">
            <thead>
              <tr>
                <th>親屬姓名</th>
                <th>關係</th>
                <th>團體名稱</th>
                <th>活動名稱</th>
                <th class="text-right">補助日期</th>
                <th class="text-right">補助金額</th>
              </tr>
            </thead>
            <% representative.relatives.joins(:organizations)
                             .includes(:organizations)
                             .where(organizations: { mismatch: false })
                             .distinct.each do |relative| %>
            <tr>
              <td>
                <%= relative.name %>
              </td>
              <td>
                <%= relative.kinship_name %>
              </td>
              <td colspan="4" class="expenditures-container">
                <% relative.organizations.each do |organization| %>
                  <% organization.expenditures.distinct.each do |expenditure| %>
                  <table class="inner-expenditures-list-table">
                    <tr>
                      <td>
                        <%= expenditure.organization.name %>
                      </td>
                      <td>
                        <%= expenditure.title %>
                      </td>
                      <td class="text-right">
                        <%= expenditure.approved_date.strftime('%F') %>
                      </td>
                      <td class="text-right">
                        <%= number_to_currency(expenditure.amount, precision: 0) %>
                      </td>
                    </tr>
                  </table>
                  <% end %>
                <% end %>
              </td>
              
            </tr>
            <% end %>
            <tr>
              <th class="text-right" colspan="4">
                總金額：
                <%= number_to_currency(representative.expenditures.pluck(:amount).sum, precision: 0) %>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
