<div class="pages-index">
  <div class="jumbotron">
    <h1 class="display-4">專案介紹</h1>
    <p class="lead">簡單介紹</p>
    <hr class="my-4">
    <p>更完整的專案介紹</p>
    <p>建議可以放上相關的資料來源連結</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    <p>資料更新於：</p>
    <%= Relative.maximum(:updated_at).strftime('%F %r %Z').in_time_zone %>
  </div>
  <hr>
  <div class="jumbotron">
    <h1 class="display-4">重量級民代列表</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p></p>
    <%= link_to '下載報告(CSV)', reports_path(format: :csv), class: 'btn btn-primary btn-lg' %>
  </div>

  <% @representatives.each do |representative| %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= representative.name %><br>
            <small>黨籍：
              <%= Representative.human_attribute_name("parties.#{representative.party}") %></small>
          </h5>
          <table class="table">
            <thead>
              <tr>
                <th>親屬姓名</th>
                <th>關係</th>
                <th>團體名稱</th>
                <th class="text-right">補助日期 / 補助金額</th>
              </tr>
            </thead>
            <% representative.relatives.each do |relative| %>
            <tr>
              <td>
                <%= relative.name %>
              </td>
              <td>
                <%= relative.kinship_name %>
              </td>
              <td>
                <%= relative.organization.name %>
              </td>
              <td colspan="3" class="expenditures-container">
                <table class="inner-expenditures-list-table">
                  <% relative.organization.expenditures.each do |expenditure| %>
                  <tr>
                    <td>
                      <%= expenditure.title %>
                    </td>
                    <td class="text-right">
                      <%= expenditure.approved_date.strftime('%F') %>
                    </td>
                    <td>
                      <%= number_to_currency(expenditure.amount, precision: 0) %>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </td>
            </tr>
            <% end %>
            <tr>
              <th class="text-right" colspan="4">
                總金額：
                <%= number_to_currency(representative.expenditures.map(&:amount).sum, precision: 0) %>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
