<div class="actions">
  <%= f.input :title %>
  <div class="form-group required">
    <%= f.label :approved_date, class: "form-control-label" %>
    <%= f.date_field :approved_date, class: 'form-control' %>
  </div>
  <%= f.input :amount %>
  <%= f.button :submit, '送出' %>
</div>
