<p id="notice"><%= notice %></p>

<h1>Admin Expenditures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= link_to 'Show', [:admin, expenditure] %></td>
        <td><%= link_to 'Edit', edit_admin_expenditure_path(expenditure) %></td>
        <td><%= link_to 'Destroy', [:admin, expenditure], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'æ–°å¢', new_admin_expenditure_path %>
