<h1>New Admin Expenditure</h1>

<%= form_with(model: [:admin, @expenditure], local: true) do |f| %>
  <%= render 'form', f: f %>
  <% if @expenditure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expenditure.errors.count, "error") %> prohibited this expenditure from being saved:</h2>

      <ul>
      <% @expenditure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', admin_expenditures_path %>
