<!DOCTYPE html>
<html>
  <head>
    <title>CcwTaipower</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <%= link_to '台電追追追', root_path, class: 'navbar-brand' %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
