<!DOCTYPE html>
<html>
  <head>
    <title>台電睦鄰金流大解析</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'flash.png' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
      <div class="container">
        <%= link_to '台電睦鄰金流大解析', root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li> -->
            <%= active_link_to '民代親屬資料庫', relatives_path, class: "nav-link", wrap_tag: 'li', wrap_class: 'nav-item' %>
            <%= active_link_to '金流地區分佈', distributions_path, class: "nav-link", wrap_tag: 'li', wrap_class: 'nav-item' %>
            <%= active_link_to '關於睦鄰金', knowledge_path, class: "nav-link", wrap_tag: 'li', wrap_class: 'nav-item' %>
            <%= active_link_to '關於本專案', about_path, class: "nav-link", wrap_tag: 'li', wrap_class: 'nav-item' %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content-wrapper">
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <%= link_to 'https://grants.g0v.tw/power', target: '_blank' do %>
          <%= image_tag('poweredby-square.svg') %>
        <% end %>

      <%= link_to '關於本專案', about_path %>
      <div>Favicon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
  </div>
</body>
</html>
